@charset "utf-8";
/* CSS Document */
 /* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;

}

/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;

}


/*Fonts
div {
	font-family: 'Georgia', serif;
  font-family: 'Oswald', sans-serif;
}
*/

div.title {
	position: absolute;
	top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	text-align: center;
	background-color: #ffcf2f;
}

.futura-18 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.futura-12 {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.futura-18-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

.georgia-12 {
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
}

.georgia-11 {
	font-family: 'Roboto Mono', monospace;
	font-size: 11px;
}

.georgia-18 {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
}

.georgia-18-bold {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
	font-weight: 700;
}

.georgia-12-bold {
	font-family: 'Roboto Mono', monospace;
	font-size: 12px;
	font-weight: 700;
}

.georgia {
	font-family: 'Roboto Mono', monospace;
}

.georgia-bold {
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
}

div.place {
	/*width: 90%;
	/height: 90%;*/

	position: fixed;
    top: 20px;
    left: 20px;
	bottom: 20px;
    right: 20px;
	background-color: #CD5E12;
	display: none;
}

img.skyland_highschool {
	position: fixed;
    top: 220px;
    left: 40px;
	display: none;

}

div.rectangle_above {
	/*width: 90%;
	/height: 90%;*/
	position: absolute;
  top: 50px;
  left: 20px;
	width: 30px;
  height: 40px;
	background-color: #dd0000;
	display: none;

}



div.fence_us {
	display: none;
	bottom: 70px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	font-weight: 700;
}

div.fence {
	position: absolute;
	padding: 5px;
	text-align: center;
	cursor: pointer;
	display: none;
	left: 50%;
	bottom: 30px;
	transform: translate(-50%, 0);
}


div.fence_mexico {
	display: none;
	bottom: 10px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	font-weight: 700;
}



div.welcome_text {
	font-size: 12px;

}

div.welcome_close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}

div.welcome_button {
	background-color: black;
	color:  #ffcf2f;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	width: 150px;
	padding: 10px;
	cursor: pointer;
}

div.wrapper_welcome {
	background-color: white;
	position: absolute;
	height: 600px;
	width: 650px;
	left: 50%;
	top: 50%;
	padding: 15px;
	transform: translate(-50%, -50%);
	overflow: auto;
}


div.wrapper_credits {
	background-color: white;
	position: absolute;
	display: none;
	height: 400px;
	width: 450px;
	left: 50%;
	top: 50%;
	padding: 30px;
	transform: translate(-50%, -50%);
	overflow: auto;
}

div.credits_pessoa {
		/*border: 1px solid red;*/
	position: absolute;
	left: 210px;
	top: 340px;

}

div.credits_mis {
		/*border: 1px solid blue;*/
	position: absolute;
	left: 20px;
	top: 340px;
}

div.credits_close {
	position: absolute;
	right: 15px;
	top: 15px;
}


div.wrapper_navigation {
	top: 70px;
	left: 30px;
	position: absolute;
	display: grid;
	grid-template-columns: 34px 34px;
	grid-gap: 2;
}


div.wrapper_wind_rose {
	top: 70px;
	right: 80px;
	position: absolute;
	display: grid;
	grid-template-columns: 90px 80px 90px;
	grid-gap: 0;
  padding: 0;
	margin: 0;

}

div.las_vegas {
	grid-column: 1 / span 3;
	text-align: center;
}

div.california {
	text-align: right;
}


div.wind_rose {
	text-align: center;
}


div.texas {

}

div.mexico {
	grid-column: 1 / span 3;
	text-align: center;
}


div.wrapper_fronteira {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;

	display: none;
}

div.video_fronteira {
	position: relative;
	height: 360px;
	top: 0;

}

div.wrapper_preview {
	width: 200px;
	height: 136px;
	background-color: #5a5a5a;
	position: absolute;
	top:220px;
	bottom: 0;
	left: 40px;
	right: 0;
	margin: 0;
	padding: 0;
	display: none;

}


div.video_title {
	color: white;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
	display: block;
	padding-top: 5px;
}

div.video_wrapper {
	position: relative;
	height: 112px;
	margin-top: -18px;
	/*top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
		margin: auto;*/
  top: 24px;

	padding-bottom: 0;
  padding-top: 0;


	/*background: transparent url('../images/loading.gif')  center no-repeat;*/
	/*display: none; background-color: #CD5E12;*/
}
.video_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0000aa;
}

div.video_arrow {
	position: relative;
	top: 24px;
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
}

div.wrapper_screenplay {
		background-color: white;
		position: absolute;
		width: 300px;
		height: auto;
		top: 140px;
		left: 30px;
		margin: 0;
		overflow-y: auto;
		display: none;


}

div.screenplay {
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
	padding: 10px;

}

div.screenplay_close {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 5px;
	cursor: pointer;

}

div.wrapper_reiniciar {
	position: absolute;
	width: 300px;
	height: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	background-color: #ffcf2f;
	display: none;
	grid-template-rows: 40% 40%;
	text-align: center;
	grid-gap: 30px;
	padding: 20px;
}

div.reiniciar_text {
	grid-column: 1 / 3;
	padding: 20px;
}

div.reiniciar_button {

	cursor: pointer;

}

div.yellow_on_black {
	background-color: black;
	color:  #ffcf2f;
}

div.reiniciar_content {

	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Roboto Mono', monospace;
}



div.box_fronteira {
	display: none;
	grid-template-columns: 95% 5%;
	grid-gap: 0;
	color:  white;
	background-color: black;
	position: absolute;
	width: 550px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
}

div.box_fronteira_text {

	padding: 20px;
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
}

span.box_fronteira_title {

	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
}



div.box_fronteira_close {
	cursor: pointer;
}



div.wrapper_content {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 40px;
	line-height: 1.1;
	font-weight: 700;
	color: #ffffff;
	padding: 0;
	overflow: auto;
	/*border: 1px solid blue;*/
}


div.wrapper_content_grid {
	display: grid;
	left: 0;
	right: 0;
	grid-template-columns: 50% 50%;
	/*grid-template-rows: 300px;*/
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);

}

div.img_content_left {
	/*border: 1px solid red;*/
	display: none;
	cursor: pointer;
	width: 100%;
}

div.img_content_right {
	/*border: 1px solid red;*/
	text-align: right;
	/*position: relative;
	top: 50%;*/
	display: none;
	cursor: pointer;
	width: 100%;
}

img.content {
	width: 100%;
}


iframe.video_content_frame	{
 /*height: 300px;
 width: 533px*/
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 }

div.text_content_left {
	/*border: 1px solid red;*/
	padding: 20px;
	display: none;
	text-align: right;
}

div.text_content_right {
	/*border: 1px solid red;*/
	padding: 20px;
	display: none;
}

div.wrapper_video_full {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/*transform: translate(-50%, -50%);*/
}

div.back_arrow {
	position: absolute;
	display: none;
	top: 50%;
	left: 20px;
	transform: translate(0, -50%);
	cursor: pointer;
}
