@charset "utf-8";
/* CSS Document */
 /* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
	height: 100%;

}

/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;

}


/*Fonts
div {
	font-family: 'Georgia', serif;
  font-family: 'Oswald', sans-serif;
}
*/

div.title {
	position: absolute;
	top: 0px;
	padding: 5px;
	width: 100%;
	text-align: center;
	background-color: #ffcf2f;
}

span.futura-18 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

span.futura-18-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

span.georgia-18 {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
}

span.georgia-18-bold {
	font-family: 'Roboto Mono', monospace;
	font-size: 18px;
	font-weight: 700;

}

div.place {
	/*width: 90%;
	/height: 90%;*/

	position: fixed;
    top: 20px;
    left: 20px;
	bottom: 20px;
    right: 20px;
	background-color: #CD5E12;
	display: none;
}

img.skyland_highschool {
	position: fixed;
    top: 220px;
    left: 40px;
	display: none;

}

div.rectangle_above {
	/*width: 90%;
	/height: 90%;*/
	position: absolute;
  top: 50px;
  left: 20px;
	width: 30px;
  height: 40px;
	background-color: #dd0000;
	display: none;

}

div.wrapper_wrapper {
	width: 200px;
	height: 136px;
	background-color: #5a5a5a;
	position: absolute;
	top:220px;
	bottom: 0;
	left: 40px;
	right: 0;
	margin: 0;
	padding: 0;
	display: none;

}

div.wrapper_seta_fronteira {
	position: absolute;
	bottom: 0px;
	padding: 5px;
	width: 100%;
	text-align: center;
	cursor: pointer;
		display: none;
}

div.wrapper_fronteira {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;

	display: none;
}

div.video_fronteira {
	position: relative;
	height: 360px;
	top: 0;

}

div.video_title {
	color: white;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
}

div.video_wrapper {
	position: relative;
	height: 112px;
	margin-top: -18px;
	/*top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
		margin: auto;*/
  top: 24px;

	padding-bottom: 0;
  padding-top: 0;


	background: transparent url('../images/loading.gif')  center no-repeat;;
	/*display: none; background-color: #CD5E12;*/
}
.video_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0000aa;



}

div.video_arrow {
	position: relative;
	top: 24px;
	padding: 0;
	margin: 0;
	border: 0;
	text-align: center;
}

div.screenplay {
		color:  #5a5a5a;
		background-color: white;
		position: fixed;
		width: 350px;
		height: 100%;
		top:0;
		bottom: 0;
		/*left: -300px;*/
		left: -310px;
		/* right: 0; */
		margin: 0

		transition:         left 500ms ease;
		-moz-transition:    left 500ms ease;
		-ms-transition:     left 500ms ease;
		-o-transition:      left 500ms ease;
		-webkit-transition: left 500ms ease;

}

div.screenplay_wrapper_left {
	width: 270px;
	padding: 20px;
	border-right: 1px solid black;
	height: inherit;

}

div.screenplay_title {


	position: absolute;
	width: 40px;
	top: 40%;
	right: 0;
	padding: 5px;

display: block;

margin-right: -15px;


}

div.screenplay_header {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

div.screenplay_content {
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;

}

div.screenplay_screenplay {
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
}
